
$marginTop: (
    0: "0",
    2: "2px",
    3: "3px",
    5: "5px",
    8: "8px",
    10: "10px",
    15: "15px",
    20: "20px",
    25: "25px",
    30: "30px",
    40: "40px",
    50: "50px",
    60: "60px",
    80: "80px",
    90: "90px",
    100: "100px",
  );
  
  @each $key,
  $val in $marginTop {
    .mt-#{$key} {
      margin-top: #{$val};
    }
  }
  
  $marginBottom: (
    0: "0",
    2: "2px",
    3: "3px",
    5: "8px",
    10: "10px",
    15: "15px",
    20: "20px",
    25: "25px",
    30: "30px",
    40: "40px",
    50: "50px",
    60: "60px",
    80: "80px",
    90: "90px",
    100: "100px",
  );
  
  @each $key,
  $val in $marginBottom {
    .mb-#{$key} {
      margin-bottom: #{$val};
    }
  }
  
  $marginRight: (
    0: "0",
    2: "2px",
    3: "3px",
    5: "8px",
    10: "10px",
    15: "15px",
    20: "20px",
    25: "25px",
    30: "30px",
    40: "40px",
    50: "50px",
    60: "60px",
    80: "80px",
    90: "90px",
    100: "100px",
  );
  
  @each $key,
  $val in $marginRight {
    .mr-#{$key} {
      margin-right: #{$val};
    }
  }
  
  
  
  $margin_x: (
    0: "0",
    2: "2px",
    3: "3px",
    5: "8px",
    10: "10px",
    15: "15px",
    20: "20px",
    25: "25px",
    30: "30px",
    40: "40px",
    50: "50px",
    60: "60px",
    80: "80px",
    90: "90px",
    100: "100px",
  );
  
  @each $key,
  $val in $margin_x {
    .mx-#{$key} {
      margin: #{$val} auto;
    }
  }