.PagesPopupBody {
    .title {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #202020;
        font-family: "Poppins", sans-serif;
    }

    .SubTitle {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: rgba(32, 32, 32, 0.6);
        font-family: "Poppins", sans-serif;
        margin-bottom: 16px;
    }

    button {
        width: 100%;
    }
}