

.uploadImageModalBody {
  padding: 0 !important;
}

.uploadimagepopContainer {
  .tabContainer {
    width: 100%;
    padding-bottom: 24px;



    .tabContentDiv {}

  }
}

.modalWidth {
  overflow-y: hidden !important;

  .uploadImageModalBody {
    overflow-y: hidden !important;

  }
}