// @import '../../../styles/GloablStyle/style.scss';
// @import '../../../styles/GloablStyle/theme';


.selectdropdownButtonContainer {
  .selectDropDownButtonWrap {
    background: #FCFCFC;
    border: 1.5px solid #ececec;
    border-radius: 4px;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 6px;
    .InputFields{
        width: 21px;
        border: none;
    }
  }

  .btnOvalShape {
    border-radius: 30px;
  }



  .iconDown {
    -webkit-mask: url("../../../Assets/SiteEditor/Icons/arrow-down.svg") no-repeat center;
    mask-image: url("../../../Assets/SiteEditor/Icons/arrow-down.svg") no-repeat center;
    width: 10px;
    height: 10px;
    background-color: rgba(#202020, 1);
    display: block;
    transform: rotate(0deg);
    transition: all 0.4s linear;
  }

  .iconRotate {
    transform: rotate(180deg);
  }

}