// @import '../../../styles/GloablStyle/style.scss';

.InputSearchButtonContainer {
  .InputSearchButtonWrap {
    background: #FCFCFC;
    border: 1.5px solid #ececec;
    border-radius: 6px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 7px;

    .FormInputFields {
      border: none;
      width: 100%;
      color: rgba(32, 32, 32, 0.4);
      background-color: transparent;
      font-size: 12px;

      &::-webkit-search-cancel-button,
      &::-webkit-search-decoration {
        -webkit-appearance: none;
        appearance: none;
      }
    }
  }

  .btnOvalShape {
    border-radius: 30px;
  }



  .iconDown {
    -webkit-mask: url("../../../Assets/SiteEditor/Icons/arrow-down.svg") no-repeat center;
    mask-image: url("../../../Assets/SiteEditor/Icons/arrow-down.svg") no-repeat center;
    width: 10px;
    height: 10px;
    background-color: rgba(#3758F9 , 1);
    display: block;
    transform: rotate(0deg);
    transition: all 0.4s linear;
  }

  .iconRotate {
    transform: rotate(180deg);
  }

}