.flag {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 11px;
  background: url('./flags.png') no-repeat;


}

.Flaggu {
  background-position: -96px -55px
}

.Flagmn {
  background-position: -208px -88px
}

.Flagva {
  background-position: -48px -154px
}

.Flagtibet {
  background-position: -32px -143px
}

.Flagfo {
  background-position: -64px -44px
}

.Flagth {
  background-position: -16px -143px
}

.Flagtr {
  background-position: -144px -143px
}

.Flagtl {
  background-position: -80px -143px
}

.Flagkz {
  background-position: -144px -77px
}

.Flagzm {
  background-position: -16px -165px
}

.Flaguz {
  background-position: -32px -154px
}

.Flagdk {
  background-position: -64px -33px
}

.Flagscotland {
  background-position: -176px -121px
}

.Flaggi {
  background-position: -224px -44px
}

.Flaggy {
  background-position: -128px -55px
}

.Flagbj {
  background-position: -112px -11px
}

.Flagfr {
  background-position: -80px -44px
}

.Flagmo {
  background-position: -224px -88px
}

.Flagir {
  background-position: -112px -66px
}

.Flagio {
  background-position: -80px -66px
}

.Flagtm {
  background-position: -96px -143px
}

.Flagch {
  background-position: -96px -22px
}

.Flagmt {
  background-position: -32px -99px
}

.Flagnl {
  background-position: -240px -99px
}

.Flaggp {
  background-position: -16px -55px
}

.Flagim {
  background-position: -48px -66px
}

.Flagtv {
  background-position: -176px -143px
}

.Flagmu {
  background-position: -48px -99px
}

.Flagpe {
  background-position: -96px -110px
}

.Flagvi {
  background-position: -112px -154px
}

.Flaghn {
  background-position: -176px -55px
}

.Flagss {
  background-position: -128px -132px
}

.Flagae {
  background-position: -16px 0
}

.Flagtd {
  background-position: -240px -132px
}

.Flagpw {
  background-position: 0 -121px
}

.Flagnu {
  background-position: -32px -110px
}

.Flagbt {
  background-position: -208px -11px
}

.Flagms {
  background-position: -16px -99px
}

.Flagcv {
  background-position: -240px -22px
}

.Flages {
  background-position: -224px -33px
}

.Flagmh {
  background-position: -144px -88px
}

.Flagla {
  background-position: -160px -77px
}

.Flagvn {
  background-position: -128px -154px
}

.Flagpy {
  background-position: -16px -121px
}

.Flagbr {
  background-position: -176px -11px
}

.Flagye {
  background-position: -224px -154px
}

.Flagie {
  background-position: 0 -66px
}

.Flaggh {
  background-position: -208px -44px
}

.Flagcg {
  background-position: -80px -22px
}

.Flagcu {
  background-position: -224px -22px
}

.Flaghu {
  background-position: -224px -55px
}

.Flagsg {
  background-position: -224px -121px
}

.Flagat {
  background-position: -176px 0
}

.Flaglk {
  background-position: -224px -77px
}

.Flagvu {
  background-position: -144px -154px
}

.Flagbo {
  background-position: -160px -11px
}

.Flagjo {
  background-position: -208px -66px
}

.Flager {
  background-position: -208px -33px
}

.Flagza {
  background-position: -256px -154px
}

.Flagrs {
  background-position: -80px -121px
}

.Flagnr {
  background-position: -16px -110px
}

.Flagls {
  background-position: -256px -77px
}

.Flagjm {
  background-position: -192px -66px
}

.Flagtz {
  background-position: -208px -143px
}

.Flagki {
  background-position: -16px -77px
}

.Flagsj {
  background-position: 0 -132px
}

.Flagcz {
  background-position: -16px -33px
}

.Flagpg {
  background-position: -128px -110px
}

.Flaglv {
  background-position: -32px -88px
}

.Flagdo {
  background-position: -96px -33px
}

.Flaglu {
  background-position: -16px -88px
}

.Flagno {
  background-position: -256px -99px
}

.Flagkw {
  background-position: -112px -77px
}

.Flagmx {
  background-position: -96px -99px
}

.Flagyt {
  background-position: -240px -154px
}

.Flagly {
  background-position: -48px -88px
}

.Flagcy {
  background-position: 0 -33px
}

.Flagph {
  background-position: -144px -110px
}

.Flagmy {
  background-position: -112px -99px
}

.Flagsm {
  background-position: -48px -132px
}

.Flaget {
  background-position: -240px -33px
}

.Flagru {
  background-position: -96px -121px
}

.Flagtj {
  background-position: -48px -143px
}

.Flagai {
  background-position: -64px 0
}

.Flagpl {
  background-position: -176px -110px
}

.Flagkp {
  background-position: -64px -77px
}

.Flaguy {
  background-position: -16px -154px
}

.Flaggb {
  background-position: -112px -44px
}

.Flaggs {
  background-position: -64px -55px
}

.Flagkurdistan {
  background-position: -96px -77px
}

.Flagrw {
  background-position: -112px -121px
}

.Flagec {
  background-position: -128px -33px
}

.Flagmm {
  background-position: -192px -88px
}

.Flagpa {
  background-position: -80px -110px
}

.Flagwales {
  background-position: -160px -154px
}

.Flagkg {
  background-position: -256px -66px
}

.Flagve {
  background-position: -80px -154px
}

.Flagtk {
  background-position: -64px -143px
}

.Flagca {
  background-position: -16px -22px
}

.Flagis {
  background-position: -128px -66px
}

.Flagke {
  background-position: -240px -66px
}

.Flagro {
  background-position: -64px -121px
}

.Flaggq {
  background-position: -32px -55px
}

.Flagpt {
  background-position: -256px -110px
}

.Flagtf {
  background-position: -256px -132px
}

.Flagad {
  background-position: 0 0
}

.Flagsk {
  background-position: -16px -132px
}

.Flagpm {
  background-position: -192px -110px
}

.Flagom {
  background-position: -64px -110px
}

.Flagan {
  background-position: -112px 0
}

.Flagws {
  background-position: -192px -154px
}

.Flagsh {
  background-position: -240px -121px
}

.Flagmp {
  background-position: -240px -88px
}

.Flaggt {
  background-position: -80px -55px
}

.Flagcf {
  background-position: -64px -22px
}

.Flagzanzibar {
  background-position: 0 -165px
}

.Flagmw {
  background-position: -80px -99px
}

.Flagcatalonia {
  background-position: -32px -22px
}

.Flagug {
  background-position: -240px -143px
}

.Flagje {
  background-position: -176px -66px
}

.Flagkm {
  background-position: -32px -77px
}

.Flagin {
  background-position: -64px -66px
}

.Flagbf {
  background-position: -48px -11px
}

.Flagmc {
  background-position: -80px -88px
}

.Flagsy {
  background-position: -192px -132px
}

.Flagsn {
  background-position: -64px -132px
}

.Flagkr {
  background-position: -80px -77px
}

.Flageu {
  background-position: -256px -33px
}

.Flagbn {
  background-position: -144px -11px
}

.Flagst {
  background-position: -144px -132px
}

.Flagengland {
  background-position: -192px -33px
}

.Flaglc {
  background-position: -192px -77px
}

.Flagdm {
  background-position: -80px -33px
}

.Flagbe {
  background-position: -32px -11px
}

.Flagni {
  background-position: -224px -99px
}

.Flagua {
  background-position: -224px -143px
}

.Flagmz {
  background-position: -128px -99px
}

.Flagpf {
  background-position: -112px -110px
}

.Flagtn {
  background-position: -112px -143px
}

.Flagee {
  background-position: -144px -33px
}

.Flagxk {
  background-position: -208px -154px
}

.Flagsx {
  background-position: -176px -132px
}

.Flagsd {
  background-position: -192px -121px
}

.Flaggd {
  background-position: -128px -44px
}

.Flagci {
  background-position: -112px -22px
}

.Flagsz {
  background-position: -208px -132px
}

.Flagcl {
  background-position: -144px -22px
}

.Flagfi {
  background-position: 0 -44px
}

.Flagga {
  background-position: -96px -44px
}

.Flagjp {
  background-position: -224px -66px
}

.Flagde {
  background-position: -32px -33px
}

.Flagnp {
  background-position: 0 -110px
}

.Flagre {
  background-position: -48px -121px
}

.Flagbg {
  background-position: -64px -11px
}

.Flagsc {
  background-position: -160px -121px
}

.Flagng {
  background-position: -208px -99px
}

.Flagqa {
  background-position: -32px -121px
}

.Flagmk {
  background-position: -160px -88px
}

.Flagaw {
  background-position: -208px 0
}

.Flagkn {
  background-position: -48px -77px
}

.Flagal {
  background-position: -80px 0
}

.Flagbw {
  background-position: -240px -11px
}

.Flagum {
  background-position: -256px -143px
}

.Flagky {
  background-position: -128px -77px
}

.Flagtt {
  background-position: -160px -143px
}

.Flagso {
  background-position: -80px -132px
}

.Flaglt {
  background-position: 0 -88px
}

.Flagby {
  background-position: -256px -11px
}

.Flagbb {
  background-position: 0 -11px
}

.Flagus {
  background-position: 0 -154px
}

.Flagmd {
  background-position: -96px -88px
}

.Flagag {
  background-position: -48px 0
}

.Flaghm {
  background-position: -160px -55px
}

.Flagas {
  background-position: -160px 0
}

.Flageg {
  background-position: -160px -33px
}

.Flagsv {
  background-position: -160px -132px
}

.Flagsl {
  background-position: -32px -132px
}

.Flagfk {
  background-position: -32px -44px
}

.Flagam {
  background-position: -96px 0
}

.Flagck {
  background-position: -128px -22px
}

.Flagtw {
  background-position: -192px -143px
}

.Flagkh {
  background-position: 0 -77px
}

.Flagto {
  background-position: -128px -143px
}

.Flagse {
  background-position: -208px -121px
}

.Flagcd {
  background-position: -48px -22px
}

.Flagpn {
  background-position: -208px -110px
}

.Flaggr {
  background-position: -48px -55px
}

.Flagid {
  background-position: -256px -55px
}

.Flagvc {
  background-position: -64px -154px
}

.Flagsomaliland {
  background-position: -96px -132px
}

.Flagbi {
  background-position: -96px -11px
}

.Flagpk {
  background-position: -160px -110px
}

.Flagpr {
  background-position: -224px -110px
}

.Flagbd {
  background-position: -16px -11px
}

.Flagco {
  background-position: -192px -22px
}

.Flagfm {
  background-position: -48px -44px
}

.Flagbm {
  background-position: -128px -11px
}

.Flagar {
  background-position: -144px 0
}

.Flagbv {
  background-position: -224px -11px
}

.Flagsb {
  background-position: -144px -121px
}

.Flagmq {
  background-position: -256px -88px
}

.Flageh {
  background-position: -176px -33px
}

.Flagbh {
  background-position: -80px -11px
}

.Flagit {
  background-position: -144px -66px
}

.Flaghr {
  background-position: -192px -55px
}

.Flagsa {
  background-position: -128px -121px
}

.Flagmv {
  background-position: -64px -99px
}

.Flagmg {
  background-position: -128px -88px
}

.Flagdz {
  background-position: -112px -33px
}

.Flaggg {
  background-position: -192px -44px
}

.Flaggm {
  background-position: -256px -44px
}

.Flagaf {
  background-position: -32px 0
}

.Flagli {
  background-position: -208px -77px
}

.Flagsr {
  background-position: -112px -132px
}

.Flagvg {
  background-position: -96px -154px
}

.Flagcr {
  background-position: -208px -22px
}

.Flagtc {
  background-position: -224px -132px
}

.Flagao {
  background-position: -128px 0
}

.Flagma {
  background-position: -64px -88px
}

.Flagmr {
  background-position: 0 -99px
}

.Flaggn {
  background-position: 0 -55px
}

.Flagne {
  background-position: -176px -99px
}

.Flagnf {
  background-position: -192px -99px
}

.Flagwf {
  background-position: -176px -154px
}

.Flaghk {
  background-position: -144px -55px
}

.Flaggf {
  background-position: -160px -44px
}

.Flagps {
  background-position: -240px -110px
}

.Flagic {
  background-position: -240px -55px
}

.Flagcw {
  background-position: -256px -22px
}

.Flagml {
  background-position: -176px -88px
}

.Flagax {
  background-position: -224px 0
}

.Flaggl {
  background-position: -240px -44px
}

.Flagdj {
  background-position: -48px -33px
}

.Flagcn {
  background-position: -176px -22px
}

.Flaght {
  background-position: -208px -55px
}

.Flaglr {
  background-position: -240px -77px
}

.Flagtg {
  background-position: 0 -143px
}

.Flagba {
  background-position: -256px 0
}

.Flagge {
  background-position: -144px -44px
}

.Flagbz {
  background-position: 0 -22px
}

.Flagau {
  background-position: -192px 0
}

.Flagiq {
  background-position: -96px -66px
}

.Flagcm {
  background-position: -160px -22px
}

.Flaggw {
  background-position: -112px -55px
}

.Flagaz {
  background-position: -240px 0
}

.Flagna {
  background-position: -144px -99px
}

.Flagfj {
  background-position: -16px -44px
}

.Flagzw {
  background-position: -32px -165px
}

.Flagbs {
  background-position: -192px -11px
}

.Flagil {
  background-position: -16px -66px
}

.Flagnz {
  background-position: -48px -110px
}

.Flagme {
  background-position: -112px -88px
}

.Flagsi {
  background-position: -256px -121px
}

.Flagnc {
  background-position: -160px -99px
}

.Flaglb {
  background-position: -176px -77px
}