// @import '../../../styles/GloablStyle/style.scss';

.selectdropdownButtonContainer {
  .selectDropDownButtonWrapRadius {
    background: #FFF;
    border: 1.5px solid #D2D2D2;
    border-radius: 30px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    min-width: max-content;
    cursor: pointer;

    span {
      font-family: "Poppins", sans-serif;
    }
  }

  .selectDropDownButtonWrap {
    background: #FCFCFC;
    border: 1.5px solid #ececec;
    border-radius: 6px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    min-width: max-content;
    cursor: pointer;

    span {
      font-family: "Poppins", sans-serif;
    }
  }

  .btnOvalShape {
    border-radius: 30px;
  }



  .iconDown {
    -webkit-mask: url("../../../Assets/SiteEditor/Icons/arrow-down.svg") no-repeat center;
    mask-image: url("../../../Assets/SiteEditor/Icons/arrow-down.svg") no-repeat center;
    width: 10px;
    height: 10px;
    background-color: rgba(#3758F9 , 1);
    display: block;
    transform: rotate(0deg);
    transition: all 0.4s linear;
    
    &.iconRotate {
      transform: rotate(180deg);
    }
  }

  

.iconCustomDown {
  -webkit-mask: url("../../../Assets/SiteEditor/Icons/editorDownIcon.svg") no-repeat center;
  mask-image: url("../../../Assets/SiteEditor/Icons/editorDownIcon.svg") no-repeat center;
  width: 10px;
  height: 7px;
  background-color: var(--global-color-quaternary);
  display: block;
  transform: rotate(0deg);
  transition: all 0.4s linear;
}

}