// @import '../../styles/GloablStyle/theme';
@import "../../styles/GloablStyle/theme";

.ProductLatestCategoryContainer {
    .categoryContainer {
        width: 100%;
        position: relative;
        min-width: max-content;
        max-width: 100%;

        .category_dropdown {
            position: relative;
            display: inline-block;
            width: 100%;

            .categoryDropDpwn_btn {
                width: 100%;
                border: 1px solid rgba($base, 0.2);
                padding: 10px 12px;
                display: inline-flex;
                align-items: center;
                gap: 30px;
                height: 36px;
                border-radius: 4px;
                cursor: pointer;
                background-color: transparent;
                color: $base;
                font-weight: 400;
                text-transform: capitalize;
                z-index: 1;
                text-align: left;
                font-size: 14px;
                position: relative;

                &:focus {
                    border: 2px solid $primary;
                }

            }

            .categoryDropDpwn_btn_border_radius {
                width: 100%;
                border: 1px solid rgba($base, 0.2);
                padding: 6px 10px 6px 18px;
                display: inline-flex;
                align-items: center;
                gap: 30px;
                height: 36px;
                border-radius: 30px;
                cursor: pointer;
                background-color: transparent;
                color: $base;
                font-weight: 400;
                text-transform: capitalize;
                z-index: 1;
                text-align: left;
                font-size: 14px;
                position: relative;

                &:focus {
                    border: 2px solid $primary;
                }

            }

            .dropdown_content {
                transition: all 0.7s ease-in-out;
                background-color: $white;
                box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.12);
                border-radius: 8px;
                padding: 17px;
                padding-left: 0;
                overflow: hidden;
                border: transparent;
                z-index: 99;
                margin-top: 8px;
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                max-width: 250px;
                width: max-content;
                min-width: 100%;

                .dropdown_content_wrap {
                    overflow-y: scroll;
                    overflow-x: hidden;
                    max-height: 130px;

                    &::-webkit-scrollbar {
                        width: 6px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: $primary;
                        border-radius: 12px;
                    }

                    &::-webkit-scrollbar-track {
                        background-color: transparent;
                    }



                    ul {
                        list-style-type: none;
                        padding: 4px 12px;

                        .small {
                            display: flex;
                            align-items: baseline;
                            gap: 4px;
                            cursor: pointer;

                            input[type=checkbox] {
                                accent-color: $primary;
                                min-height: 12px;
                            }

                            .subCategoryName {
                                font-weight: 600;
                            }

                            .subSubCategoryName {
                                font-weight: 600;
                            }
                        }

                        &:hover {
                            background-color: rgba($primary, 0.05);
                            font-weight: 500;
                        }

                        label {
                            color: #202020;
                            font-family: "Poppins", sans-serif;
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }

                        li {
                            padding: 3px 15px;
                            font-weight: 400;
                            word-break: keep-all;
                            position: relative;
                            cursor: pointer;
                            display: flex;
                            gap: 10px;
                            align-items: center;
                            overflow: hiddens;

                            p {
                                position: relative;
                                margin-right: 2px;
                                padding: 2px 0;
                                font-size: 15px;

                                &:not(:last-child)::after {
                                    content: ' \003E';
                                    font-size: 16px;
                                    color: $base;
                                    font-weight: 400;
                                    position: absolute;
                                    left: 100%;
                                    padding-left: 2px;
                                }
                            }
                        }
                    }
                }

                .apply_wrap {
                    padding: 10px 0 0 17px;

                    .apply_btn {
                        display: inline-block;
                        background: $primary;
                        border-radius: 14px;
                        width: 100%;
                        color: #FFFFFF;
                        border-color: transparent;
                        padding: 4px 0;
                        cursor: pointer;
                    }
                }
            }

            // }
            .top {
                bottom: 100% !important;
            }

            .bottom {
                top: 100% !important;
            }

            .displayShow {
                display: none;
                transition: all 0.7s ease-in-out;
            }

        }

        .icons {
            display: inline-block;
            background-color: #000;
            font-weight: 500;
        }

        .icon_openIcon {
            -webkit-mask: url("../../Assets/SiteEditor/Icons/arrow-down.svg") no-repeat center;
            mask-image: url("../../Assets/SiteEditor/Icons/arrow-down.svg") no-repeat center;
            width: 10px;
            height: 10px;
            background-color: rgba($primary, 1);
            display: block;
            transform: rotate(0deg);
            transition: all 0.4s linear;
            position: absolute;
            right: 12px;
            top: 12px;
        }

        .icons_s {
            height: 10px;
            width: 10px;
            font-weight: 500;
        }


        .icon_dropdown {
            position: absolute;
            // top: 20px !important;
            right: 20px;
            // transform: translateY(-50%);
            transition: all 0.7s ease-in-out;
        }


        .rotate_icon {
            transform: rotate(180deg) !important;

        }

    }
}