// @import '../../../src/styles/GloablStyle/container.module.scss';



.MainContainer {
  background-color: #F6F9FA;

  .SectionInner {
    position: relative;
    display: flex;
    align-items: flex-start;
  }

  .ContentInner {
    height: calc(100vh - 129px);
    overflow-y: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    margin: 36px 8px 36px 80px;
    width: 100%;


    &::-webkit-scrollbar {
      display: none;
    }

    &.backgroundColor {
      background: var(--global-color-penitentiary);
    }

    &.DesktopPreview {
      width: 1280px;
      margin: auto;
      padding-left: 0;
      padding-right: 0;
      transform: scale(0.9);
    }

    &.TabletPreview {
      width: 768px;
      margin: auto;
      padding-left: 0;
      padding-right: 0;
    }

    &.MobilePreview {
      width: 320px;
      margin: auto;
      padding-left: 0;
      padding-right: 0;
    }

  }
}