.BrandDescriptionFooterMain{
    padding: 12px 17px;
    .textAreaInput{
        background-color: #FCFCFC;
        border: 1.5px solid #ECECEC;
        border-radius: 6px;
        font-family: 'Poppins',sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #898989;
        padding: 8px;
        margin: 0 !important;
    }
}