

.socialMediaContainer {

    .socialMediaTitleText {
        font-size: 11px;
    }
   
    .socialMediaWrapper {
        margin-top: 18px;
        .formWrapper {
            margin-bottom: 13px;
            .LabelClassName{
                font-size: 12px;
            }
        }
    }
}